ion-content {

  --color: #3880ff;
  --keyboard-offset: 0px;
  --offset-bottom: 0px;
  --offset-top: 0px;
  --padding-bottom: 0px;
  --padding-end: 0px;
  --padding-start: 0px;
  --padding-top: 0px;
  --background: url('/assets/images/Background.png');
  --background-size: cover;
}

.ion-color-primary-gradient{
  --ion-color-base: linear-gradient(
      to right
      var(--ion-color-primary) 0%,
      var(--ion-color-primary-contrast) 100%
    );
}

button{
text-align: center;
}
.login {
  position: relative;
  border-radius: 10px !important;
  background: -webkit-gradient(linear, left top, right top, from(#530D9E), to(#820785 87%));
  background: linear-gradient(to right, #530D9E, #820785 87%);
  height: 5.7%;
  width: 86%;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: rgba(205, 205, 205, 0.77);
  margin-left: 28px;
  margin-right: 28px;
  margin-top: 48px;
  margin-bottom: 4px;
  box-shadow: 0 0 1.4em rgba(195, 0, 255, 0.527);
}

.login:hover {
background-color: #004369;
transition: background-color 1s;
}

.createAccount{
position: relative;
border-radius: 10px !important;
background: rgba(255, 255, 255, 0.048);
height: 5.7%;
width: 86%;
justify-content: center;
align-items: center;
text-align: center;
text-decoration: rgba(205, 205, 205, 0.11);
margin-left: 28px;
margin-right: 28px;
margin-top: 20px;
margin-bottom: 4px;
border: 2px solid #530D9E;
 box-shadow: 0 0 1.4em rgba(195, 0, 255, 0.527);
}

ion-item {
--background: #4b4b4b91;
margin-left: 28px;
margin-right: 28px;
margin-top: 16px;
border-radius: 6px;
border: 1.8px solid #7E7E7E;
::placeholder{
  opacity: 2px;
}
}

.row{
display: flex !important;
justify-content: center !important;
align-items: center !important;
height: 100%;
}

.title{
margin-left: 16px;
margin-bottom: 20px;
margin-top: 28px;
color: white
}

a{
color: #cdcdcd9c;
margin-top: 16px;
margin-left: 28px;
margin-right: 28px;
align-self: center;
}
