<ion-content >
  <ion-row class="ion-align-items-center">
    <ion-col size="2"></ion-col>
    <ion-col size="8">
    <div class="ion-text-start">
      <h2>Site name</h2>
     </div>
    </ion-col>
    <ion-col size="2"></ion-col>
    <ion-col class="title" class="ion-align-self-center" class="ligth" class="title">
      <div class="ion-text-start" class="title">
        <h2>Welcome</h2>
        <p>Sign into your account  </p>
       </div>
    </ion-col>
  </ion-row>


    <ion-item class="ion-align-items-center" lines="none">
      <ion-input name="email" type="email" placeholder="Email" [(ngModel)]="user.email"></ion-input>
      <label > <ion-icon name="person-outline"></ion-icon> </label>
    </ion-item>

    <ion-item lines="none">
      <ion-input name="password" type="password" placeholder="Password" [(ngModel)]="user.password"></ion-input>
      <label > <ion-icon name="eye-outline"></ion-icon> </label>
    </ion-item>

    <ion-row class="ion-align-self-center ion-float-right forgot light">
      <a name="forgot">
        Forgot password?
      </a>
    </ion-row>

    <button class="login" (click)="realizarLogin()">Sign in</button>
    <button class="createAccount" [routerLink]="['/register']">Register now</button>


</ion-content>
