<ion-app>

  <ion-split-pane contentId="main-content">
    <ion-menu side="start" menuId="first" contentId="main-content">
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-title>Nome Usuario</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <!-- icones para o side menu
          <ion-icon name="home"></ion-icon>
          <ion-icon name="book"></ion-icon>
          <ion-icon name="person"></ion-icon>
          <ion-icon name="star-outline">favoritos</ion-icon>
          -->
          <ion-item>Home</ion-item>
          <ion-item>Artigos</ion-item>
          <ion-item>Conta</ion-item>
          <ion-item>Favoritos</ion-item>
          <ion-item>Sobre</ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>

</ion-app>
