ion-content{
  --background: url('/assets/images/pagesback.png');
}


ion-content{
  --color: #3880ff;
  --keyboard-offset: 0px;
  --offset-bottom: 0px;
  --offset-top: 0px;
  --padding-bottom: 0px;
  --padding-end: 0px;
  --padding-start: 0px;
  --padding-top: 0px;
  --background: url('/assets/images/pagesback.png');
  --background-size: cover;
}

.ion-color-primary-gradient{
--ion-color-base: linear-gradient(
    to right
    var(--ion-color-primary) 0%,
    var(--ion-color-primary-contrast) 100%
  );
}
button{
text-align: center;
}
.home{
position: relative;
border-radius: 10px !important;
background: -webkit-gradient(linear, left top, right top, from(#530D9E), to(#820785 87%));
background: linear-gradient(to right, #530D9E, #820785 87%);
height: 5.7%;
width: 86%;
justify-content: center;
align-items: center;
text-align: center;
text-decoration: rgba(205, 205, 205, 0.77);
margin-left: 28px;
margin-right: 28px;
margin-top: 48px;
box-shadow: 0 0 1.4em rgba(195, 0, 255, 0.527);
}

.home:hover {
background-color: #004369;
transition: background-color 1s;
}

.title2{
  margin-left: 2em;
  margin-top: 2em;
  margin-bottom: 0.8em;
  color: #ffffffe7;
}

.title3{
  margin-left: 2.2em;
  margin-top: 1.4em;
  color: #ffffffd2;
}

ion-title {
background: -webkit-gradient(linear, left top, right top, from(#530D9E), to(#820785 87%));
background: linear-gradient(to right, #530D9E, #820785 87%);

}

ion-menu-buttons{
color: #530D9E;
}

ion-item {
--background: #4b4b4b91;
margin-left: 28px;
margin-right: 28px;
margin-bottom: 0px;
margin-top: 24px;
border-radius: 6px;
border: 1.8px solid #7E7E7E;
::placeholder{
  opacity: 2px;
}
}

.row{
display: flex !important;
justify-content: center !important;
align-items: center !important;
}

.title{
margin: 28px;
color: #f0e7e791;
}

a{
color: #cdcdcd9c;
margin-top: 18px;
margin-left: 28px;
margin-right: 28px;
margin-bottom: 0px;
align-self: center;
}

ion-card-header{
  padding-left: 2em;
  padding-right: 2em;
}

ion-card{
  background-color: #b4b4b442;
  border: 2px solid #8d8d8d60;
  border-radius: 12px;
  box-shadow: 0 0 0.8em #71697e8c;
  display: inline-block;
  width: 200px;
  margin-left: 2.4em;
}

.btn{
  width: 100%;
  margin-top: 2em;
  padding: 0.6em;
  border: 1.4px solid #9797975b;
  border-radius: 4px 14px 4px 14px;
  box-shadow: 0 0 1.4em #9b9b9b96;
  background: -webkit-gradient(linear, left top, right top, from(#a0a0a031), to(#afafaf50));
    background: linear-gradient(to right, #9797975b, #c2c2c296);
  color:#c5c5c5;
}

.notification{
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, top top, top top, from(#a0a0a031), to(#afafaf50));
  background: linear-gradient(to top, #50456791, #c2c2c217);
  box-shadow: 0 0 1.4em #9b9b9b56;
  border-radius: 8px 8px  8px 8px;
  border: 1.4px solid #afafaf8a;
}

.title4{
  padding-left: 12px;
  padding-right: 16px;
  padding-top: 2px;
  padding-bottom: 4px;
}

.text{
  padding: 16px;
}

.header-notification{
    width: 100%;
    height: 10%;
    background: linear-gradient(to top, #362166, #7e7297);
    border-radius: 4px 4px 0px 0px;
    border-top: 1px solid #afafaf8a;
    border-bottom: 1px solid #6464648a;
    text-align: left;
    display: inline-table;
    position: relative;
    padding: 4px;
}

.icons{
  padding-top: 4px;
  padding-bottom: 16px;
  float: right;
}
.heart{
  padding-right: 8px;
}
.out{
  padding-right: 20px;
}

.close{
  float: right;
}

ion-icon{
  font-size: 20px;
  color: #c5c5c5;
}

.div{
  margin: 20px;
}

ion-searchbar{
  margin-right: 2em;
  margin-left: 1.2em;
  margin-top: 1em;
  padding: 0.8em;
  --icon-color: #5400AB;
  width: 90%;
   .searchbar-input.sc-ion-searchbar-md {
  border: 1px solid white;
}
}

.sc-ion-searchbar-md-h {
  --background: #f8f8f817;
  --border-radius: 4px;
  --box-shadow: 0 0 2em #4949492f;
}

.first{
  padding-left: 1.8em;
  margin-bottom: 2em;
}

.btn1{
  margin-top: 2em;
  margin-left: 2.2em;
  background-color: #cecece7e;
  --icon-color: #5400AB;
  border-radius: 4px;
  display:flex
}
.btn-icon{
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  color: #ffffff;
}