<ion-header>
  <ion-buttons slot="start">
    <link rel="stylesheet"
    href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
    />
  </ion-buttons>
</ion-header>
<ion-content >

<div>
    <ion-row>
      <button class="btn1"><ion-icon class="btn-icon" name="menu-outline"></ion-icon></button>
    </ion-row>
</div>

<div class="title2">
<h1>Site name</h1>
About about about about about about about
</div>

<ion-searchbar animated="true"></ion-searchbar>

<div class="title3">
<h4>What's news</h4>
</div>

<ion-row class="first">
<ion-chip>
  <ion-icon name="planet-outline"></ion-icon>
  <ion-label>Planet</ion-label>
</ion-chip>
<ion-chip>
  <ion-icon name="star-outline"></ion-icon>
  <ion-label>Star</ion-label>
</ion-chip>
<ion-chip>
  <ion-icon name="bonfire-outline"></ion-icon>
  <ion-label>Other</ion-label>
</ion-chip>
</ion-row>

<div class="title3">
<h4>Explore</h4>
</div>

<div>
<swiper
  [slidesPerView]="1.76"
  [scrollbar]="{
    hide: true
  }"
  class="mySwiper"
>
  <ng-template swiperSlide *ngFor="let obj of commonArticles" >
    <ion-card>
      <ion-card-header>
        <ion-card-title> <h2>{{obj.title}}</h2></ion-card-title>
        <ion-card-subtitle>
          {{obj.text}}
        </ion-card-subtitle>
        <button class="btn button-outline" [routerLink]="['/articles-infos', obj.id]">
          Read more
        </button>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>
  </ng-template>
</swiper>
</div>


<ion-row >
  <ion-col class="ligth" class="title">
    <div class="notification">
      <div class="header-notification">
        <div class="title4">
          Notifications 💡 <ion-icon class="close" name="close-circle-outline"></ion-icon>
        </div>
        </div>
      <div class="text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a gravida mauris...</div>
      <ion-row class="icons"><ion-icon class="heart" name="heart-outline"></ion-icon>
        <ion-icon class="out" name="log-out-outline"></ion-icon>
      </ion-row>
    </div>
  </ion-col>
</ion-row>

</ion-content>


